{% extends "core/base.html" %}
{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}
<div class="untree_co-section product-section before-footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ product.image.url }}" class="img-fluid product-thumbnail" alt="{{ product.name }}">
            </div>
            <div class="col-md-6">
                <h1 class="product-title">{{ product.name }}</h1>
                {% if product.discount %}
                    <p><span class="original-price">${{ product.price }}</span> </p>
                    <strong class="product-price">${{ product.get_effective_price }}</strong>
                {% else %}
                    <strong class="product-price">${{ product.price }}</strong>
                {% endif %}
                <p>{{ product.description }}</p>
                <form id="checkout-form" method="post" action="{% url 'create_checkout_session' product.sku %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Buy</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
